.Part1_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left:5%;
    margin-right: 5%;
}
.Part1_btns{
    display: flex;
    flex-direction: row;
    gap:10px;
    text-align: center;
}
.Part1_btns p{
    border:2px solid  #FB5F66;
    padding:50px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
}
.Part1_btns p:hover{
    color: white;
    background-color: #FB5F66;
}
.Part1_img1{
    width:600px;
    height:400px;
}
.Part1_div1{
    margin-right: 10%;
}
.Part1_btns_get_start{
    background-color: #FB5F66;
    color: white;
}